.Basic-details-container {
  margin-left: 20px
}

.Section-title {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: normal;
  color: #dea14b;
  margin: 0px;
}

.Section {
  background-color:#f8f8fa;
  margin: 1px;
  padding: 15px;
}

.Brand-model {
  display: flex;
  flex-direction: row;
}

.Expert {
  display: flex;
  flex-direction: row;
}

.Testing-notes {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  margin: 3px 0 0;
  color: #9f9cac;
}

.Category {
  display: flex;
  flex-direction: row;
}

.Fill {
  flex-grow: 80;
}

.Review-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212026;
  margin: 9px 0 0;
}

.Store-links {
  margin-top: 30px;
}

.Select-store {
  display: flex;
  flex-direction: row;
}