.App {
  margin-left: 20px;
  font-family: Montserrat;
}

.Main-title {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat.ttf') format('truetype');
}

::placeholder{
  color: #9f9cac;
  letter-spacing: normal;
  margin: 0 0 0 1px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}

.react-tabs__tab-panel--selected {
  border-left: 1px solid #afacba;
  border-right: 1px solid #afacba;
  border-bottom: 1px solid #afacba;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.react-tabs__tab {
  color: #9f9cac !important;
  margin: 8px 15px 0 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.react-tabs__tab-list {
  margin-bottom: 0px !important;
  border-bottom: 1px solid #afacba !important;
}

.react-tabs {
  margin: 10px;
}