.App {
  margin-left: 30px;
  font-family: Montserrat;
}

.Main-title {
  display: flex;
  flex-direction: column;
  margin: 6px 30px 24px 0;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #040f3d;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat.ttf') format('truetype');
}

::placeholder{
  color: #9f9cac;
  letter-spacing: normal;
  margin: 0 0 0 1px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}

.react-tabs__tab-panel--selected {
  border-left: 1px solid #afacba;
  border-right: 1px solid #afacba;
  border-bottom: 1px solid #afacba;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  padding: 10px;
}

.react-tabs__tab {
  color: #9f9cac !important;
  margin: 8px 15px 0 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.react-tabs__tab--selected {
  color: #dea14b !important;
  font-weight: 600;
}

.react-tabs__tab-list {
  margin-bottom: 0px !important;
  border-bottom: 1px solid #afacba;
}

.react-tabs {
  margin-right: 30px;
}